<template>
    <div class="container">
        <div id="bg-transition" />
        <div class="intro-container">
            <div class="logo">
                <img id="logo" src="../assets/logo.png" alt="logo" />
                <div class="text">
                    <img id="mile" src="../assets/mile.png" alt="mile" />
                    <img id="by" src="../assets/byPaketID.png" alt="by-paket-id">
                </div>
            </div>
        </div>
        <div class="login-container">
            <div class="contact-container" id="contact-us">
                <div class="contact">
                    <p v-if="language === 'english'">{{english.reg}}</p>
                    <p v-else>{{indonesia.reg}}</p>
                    <button v-if="language === 'english'">{{english.contact}}</button>
                    <button v-else>{{indonesia.contact}}</button>
                    <small v-if="language === 'english'">{{english.info}}</small>
                    <small v-else>{{indonesia.info}}</small>
                </div>
                <div class="main-img">
                    <img src="../assets/main.svg" alt="main" />
                </div>
            </div>
            <div class="form-container">
                <div id="main-logo" class="cp">
                    <p v-if="language === 'english'">{{english.cp}}: +62 812-1133-5608</p>
                    <p v-else>{{indonesia.cp}}: +62 812-1133-5608</p>
                    <select v-model="language" name="language" id="language">
                        <option value="english">
                            English
                        </option>
                        <option value="indonesia">
                            Indonesia
                        </option>
                    </select>
                </div>
                <div class="form">
                    <img id="main-logo" src="../assets/main-logo.png" alt="main-logo">
                    <p v-if="language === 'english'" id="slide-up">{{english.description}}</p>
                    <p v-else id="slide-up">{{indonesia.description}}</p>
                    <form id="slide-up">
                        <input v-if="language === 'english'" type="text" :placeholder="english.placehold">
                        <input v-else type="text" :placeholder="indonesia.placehold">
                        <button v-if="language === 'english'" type="submit">{{english.login}}</button>
                        <button v-else type="submit">{{indonesia.login}}</button>
                    </form>
                    <h4 v-if="language === 'english'" class="resp">{{english.reg}} <a href="#">{{english.contact}}</a> {{english.info}}</h4>
                    <h4 v-else class="resp">{{indonesia.reg}} <a href="#">{{indonesia.contact}}</a> {{indonesia.info}}</h4>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: 'login',
    data() {
        return {
            english: {
                cp: 'Call Us Now',
                description: 'Your one stop platform to manage all of your field service management',
                placehold: 'Enter your\'s organization name',
                login: 'Login',
                reg: 'Not Registered Yet?',
                contact: 'Contact Us',
                info: 'for more info!'
            },
            indonesia: {
                cp: 'Hubungi Kami',
                description: 'Platform Anda untuk mengelola semua manajemen layanan di lapangan',
                placehold: 'Masukan nama organisasi anda ',
                login: 'Masuk',
                reg: 'Belum Terdaftar?',
                contact: 'Hubungi Kami',
                info: 'untuk info lebih lanjut!'
            },
            language: 'english'
        }
    },
}
</script>