#logo {
  animation: logo-animation 4s ease-in-out;
  visibility: hidden; }

@keyframes logo-animation {
  0% {
    opacity: 0%;
    visibility: visible; }
  50% {
    opacity: 100%; }
  100% {
    opacity: 0%;
    display: none; } }
#mile {
  animation: mile-animation 5s ease-in-out alternate;
  visibility: hidden; }

@keyframes mile-animation {
  0% {
    width: 0%;
    visibility: visible; }
  50% {
    width: 100%;
    opacity: 100%; }
  100% {
    opacity: 0%;
    display: none; } }
#by {
  animation: by-animation 6s ease-in forwards;
  opacity: 0%; }

@keyframes by-animation {
  0% {
    opacity: 0%;
    visibility: visible; }
  50% {
    opacity: 100%; }
  100% {
    opacity: 0%;
    display: none; } }
@media only screen and (min-width: 650px) {
  @keyframes slide {
    from {
      height: 0vh;
      width: 0vw; }
    to {
      height: 100vh;
      width: 100vw; } }
  @keyframes slide-stop {
    from {
      background-color: #fff;
      right: 100vw; }
    to {
      right: 0;
      background-color: #02a8f3; } }
  @keyframes rounded {
    from {
      background-color: #02a8f3; }
    to {
      background: linear-gradient(-45deg, #02a8f3, #02a8f3);
      transform: translate(-20%, -60%) rotate(120deg);
      border-radius: 50%; } } }
#contact-us {
  visibility: hidden;
  animation: slide-contact 1s forwards;
  animation-delay: 8s; }

@keyframes slide-contact {
  from {
    visibility: visible;
    margin-left: -100%; }
  to {
    visibility: visible;
    margin-left: 0%; } }
#main-logo {
  visibility: hidden;
  animation: appear-logo 1s forwards;
  animation-delay: 8s; }

@keyframes appear-logo {
  from {
    visibility: visible;
    opacity: 0; }
  to {
    visibility: visible;
    opacity: 100%; } }
#slide-up {
  visibility: hidden;
  animation: slide-up 1s forwards;
  animation-delay: 8s; }

@keyframes slide-up {
  from {
    visibility: visible;
    margin-bottom: -100%; }
  to {
    visibility: visible;
    margin-bottom: 7%; } }

/*# sourceMappingURL=animation.css.map */
