<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="animation.css">
    <link href="https://fonts.googleapis.com/css2?family=Palanquin+Dark:wght@500&family=Quicksand:wght@500&display=swap" 
    rel="stylesheet">
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    <div id="app" />
  </body>
</html>
