$main-font: 'Palanquin Dark', sans-serif;
$second-font: 'Quicksand', sans-serif;
body {
    margin: 0;
    padding: 0;
    width: 100vw;
    min-height: 100vh;
    @media screen and (min-width:650px){
        overflow: hidden;
    }
    @media screen and (max-width:650px){
        overflow: visible;
    }
}

#bg-transition {
    position: absolute;
    z-index: 1;
    height: 100vw;
    width: 130vw;
    animation: slide, slide-stop forwards, rounded forwards;
    animation-duration: 6s, 1s, 1s;
    animation-delay: 0s, 6s, 7s;
    @media screen and (max-width:650px) {
        display: none;
    }
}

.intro-container {
    position: absolute;
    width: 100vw;
    z-index: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
    animation: intro 0.1s forwards;
    animation-delay: 8s;
    .logo {
        display: grid;
        grid-template-columns: auto auto;
        .text {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            margin: 0 1vw;
        }
    }
}

.login-container {
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    display: grid;
    @media only screen and (min-width: 650px) {
        grid-template-columns: 50% 50%;
    }
    .contact-container {
        @media screen and (max-width:650px) {
            display: none;
        }
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        height: 100vh;
        .contact {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            font-family: $main-font;
            color: #f5f5f5;
            p {
                font-size: 2rem;
                margin: 2vh 0;
            }
            button {
                width: auto;
                height: 3rem;
                font-size: 1.2rem;
                font-family: $second-font;
                background-color: transparent;
                border-radius: 25px;
                border: 3px white solid;
                color: white;
            }
            button:focus {
                outline: none;
            }
            button:hover {
                cursor: pointer;
                background-color: green;
            }
            small {
                font-size: 1rem;
                margin: 2vh 0;
                font-style: italic;
            }
        }
        .main-img {
            display: flex;
            justify-content: center;
            align-items: center;
            img {
                height: auto;
                width: 35vw;
            }
        }
    }
    .form-container {
        display: grid;
        @media screen and (min-width:650px){
            grid-template-rows: 15% 70% 15%;
        }
        @media screen and (max-width: 650px){
            grid-template-rows: 5% 80% auto;
            padding: 0;
        }
        height: 100%;
        padding-left: 5vw;
        .cp {
            display: flex;
            font-size: 1vw;
            justify-content: flex-end;
            align-items: flex-start;
            padding: 10px 10px;
            font-family: $second-font;
            color: rgba($color: #000000, $alpha: 0.7);
            p {
                margin: 3px;
                font-size: 1rem;
                @media only screen and (max-width:650px) {
                    font-size: 3em;
                }
            }
            select {
                height: 4vh;
                font-family: $second-font;
                margin-left: 10px;
                padding: 0;
                border: none;
                background-color: transparent;
            }
            select:focus {
                outline: none;
            }
        }
        .form {
            font-family: $second-font;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            img {
                width: 40%;
                height: auto;
                margin-bottom: 5vh;
            }
            p {
                display: inline-block;
                width: 60%;
                text-align: center;
                word-spacing: 2px;
                @media only screen and (max-width:650px) {
                    font-size: 1em;
                }
                font-size: 2vw;
                color: rgba($color: #000000, $alpha: 0.6);
                margin-bottom: 10vh;
            }
            form {
                display: flex;
                flex-direction: column;
                input {
                    @media only screen and (max-width:650px) {
                        width: 70vw;
                    }
                    width: 25vw;
                    height: 5vh;
                    font-family: $second-font;
                    letter-spacing: 2px;
                    padding: 3px 5px;
                    margin-bottom: 5vh;
                    border-radius: 5px;
                    border: 1px rgba($color: #000000, $alpha: 0.5) solid;
                }
                input:focus {
                    outline: none;
                }
                button {
                    @media only screen and (max-width:650px) {
                        width: 73vw;
                    }
                    width: 26vw;
                    height: 6vh;
                    font-family: $second-font;
                    font-size: 1em;
                    border: none;
                    background-color: #02a8f3;
                    color: white;
                    border-radius: 5px;
                }
                button:hover{
                    cursor: pointer;
                }
            }
        }
    }
}

.resp {
    @media only screen and (min-width:650px) {
        display: none;
    }
    visibility: hidden;
    animation: slide-up 1s forwards;
    animation-delay: 8s;
    color: rgba($color: #000000, $alpha: 0.7);
    font-size: 0.7em;
}