body {
  margin: 0;
  padding: 0;
  width: 100vw;
  min-height: 100vh; }
  @media screen and (min-width: 650px) {
    body {
      overflow: hidden; } }
  @media screen and (max-width: 650px) {
    body {
      overflow: visible; } }

#bg-transition {
  position: absolute;
  z-index: 1;
  height: 100vw;
  width: 130vw;
  animation: slide, slide-stop forwards, rounded forwards;
  animation-duration: 6s, 1s, 1s;
  animation-delay: 0s, 6s, 7s; }
  @media screen and (max-width: 650px) {
    #bg-transition {
      display: none; } }

.intro-container {
  position: absolute;
  width: 100vw;
  z-index: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
  animation: intro 0.1s forwards;
  animation-delay: 8s; }
  .intro-container .logo {
    display: grid;
    grid-template-columns: auto auto; }
    .intro-container .logo .text {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      margin: 0 1vw; }

.login-container {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  display: grid; }
  @media only screen and (min-width: 650px) {
    .login-container {
      grid-template-columns: 50% 50%; } }
  .login-container .contact-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100vh; }
    @media screen and (max-width: 650px) {
      .login-container .contact-container {
        display: none; } }
    .login-container .contact-container .contact {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-family: "Palanquin Dark", sans-serif;
      color: #f5f5f5; }
      .login-container .contact-container .contact p {
        font-size: 2rem;
        margin: 2vh 0; }
      .login-container .contact-container .contact button {
        width: auto;
        height: 3rem;
        font-size: 1.2rem;
        font-family: "Quicksand", sans-serif;
        background-color: transparent;
        border-radius: 25px;
        border: 3px white solid;
        color: white; }
      .login-container .contact-container .contact button:focus {
        outline: none; }
      .login-container .contact-container .contact button:hover {
        cursor: pointer;
        background-color: green; }
      .login-container .contact-container .contact small {
        font-size: 1rem;
        margin: 2vh 0;
        font-style: italic; }
    .login-container .contact-container .main-img {
      display: flex;
      justify-content: center;
      align-items: center; }
      .login-container .contact-container .main-img img {
        height: auto;
        width: 35vw; }
  .login-container .form-container {
    display: grid;
    height: 100%;
    padding-left: 5vw; }
    @media screen and (min-width: 650px) {
      .login-container .form-container {
        grid-template-rows: 15% 70% 15%; } }
    @media screen and (max-width: 650px) {
      .login-container .form-container {
        grid-template-rows: 5% 80% auto;
        padding: 0; } }
    .login-container .form-container .cp {
      display: flex;
      font-size: 1vw;
      justify-content: flex-end;
      align-items: flex-start;
      padding: 10px 10px;
      font-family: "Quicksand", sans-serif;
      color: rgba(0, 0, 0, 0.7); }
      .login-container .form-container .cp p {
        margin: 3px;
        font-size: 1rem; }
        @media only screen and (max-width: 650px) {
          .login-container .form-container .cp p {
            font-size: 3em; } }
      .login-container .form-container .cp select {
        height: 4vh;
        font-family: "Quicksand", sans-serif;
        margin-left: 10px;
        padding: 0;
        border: none;
        background-color: transparent; }
      .login-container .form-container .cp select:focus {
        outline: none; }
    .login-container .form-container .form {
      font-family: "Quicksand", sans-serif;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      .login-container .form-container .form img {
        width: 40%;
        height: auto;
        margin-bottom: 5vh; }
      .login-container .form-container .form p {
        display: inline-block;
        width: 60%;
        text-align: center;
        word-spacing: 2px;
        font-size: 2vw;
        color: rgba(0, 0, 0, 0.6);
        margin-bottom: 10vh; }
        @media only screen and (max-width: 650px) {
          .login-container .form-container .form p {
            font-size: 1em; } }
      .login-container .form-container .form form {
        display: flex;
        flex-direction: column; }
        .login-container .form-container .form form input {
          width: 25vw;
          height: 5vh;
          font-family: "Quicksand", sans-serif;
          letter-spacing: 2px;
          padding: 3px 5px;
          margin-bottom: 5vh;
          border-radius: 5px;
          border: 1px rgba(0, 0, 0, 0.5) solid; }
          @media only screen and (max-width: 650px) {
            .login-container .form-container .form form input {
              width: 70vw; } }
        .login-container .form-container .form form input:focus {
          outline: none; }
        .login-container .form-container .form form button {
          width: 26vw;
          height: 6vh;
          font-family: "Quicksand", sans-serif;
          font-size: 1em;
          border: none;
          background-color: #02a8f3;
          color: white;
          border-radius: 5px; }
          @media only screen and (max-width: 650px) {
            .login-container .form-container .form form button {
              width: 73vw; } }
        .login-container .form-container .form form button:hover {
          cursor: pointer; }

.resp {
  visibility: hidden;
  animation: slide-up 1s forwards;
  animation-delay: 8s;
  color: rgba(0, 0, 0, 0.7);
  font-size: 0.7em; }
  @media only screen and (min-width: 650px) {
    .resp {
      display: none; } }

/*# sourceMappingURL=style.css.map */
